.page-results {
    #searchResults {
        margin-bottom: 40px;
        border-radius: 4px;
        position: relative;

        .container {
            background: white;
            padding: 0 16px;
            min-height: 600px;

        }

        &.loading {
            .loader {
                display: block;
            }
        }
    }
}


@media screen and (max-width: 980px) {
    .page-results {
        #searchResults {
            padding: 0 20px;
        }
    }
}